<header style="font-family: sans-serif">
  <div class="empty-container"></div>
  <div class="header-content">
    <div class="brand-container">
      <img [src]="logoUrl" alt="" />
      <div class="title">PRO Gamify</div>
    </div>
    <div class="profile-container">
      <div class="trips-container">
        <button
          class="trip-text"
          clickOutside
          (clickOutside)="closeContainer(false)"
          (click)="showTrips()"
        >
          My Trips
          <span class="drop-down-icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="12.458"
              height="6.914"
              viewBox="0 0 12.458 6.914"
            >
              <path
                id="Path_6234"
                data-name="Path 6234"
                d="M0,0,4.7,4.5,9.632,0"
                transform="translate(1.414 1.414)"
                fill="none"
                stroke="#f5da48"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
            </svg>
          </span>
        </button>
        <div class="trip-container" *ngIf="showTripContainer">
          <app-trips (closeContainer)="closeContainer($event)"></app-trips>
        </div>
      </div>
      <div class="pro-gami">
        <pro-gamification
          [userId]="gamificationUserId"
          [applicationId]="gamificationAppId"
          [themeColor]="'secondary'"
          [menuColor]="'white'"
        ></pro-gamification>
        <inspect-popup></inspect-popup>
      </div>
    </div>
  </div>
  <div class="empty-container"></div>
</header>
<body>
  <div class="container">
    <app-book-ticket [tab]="tab"></app-book-ticket>
    <div *ngIf="tripId">
      <app-rating
        [tripId]="tripId"
        [tab]="tab"
        (closeContainer)="openHomePage()"
      ></app-rating>
    </div>
  </div>
  <footer>
    <div class="empty-container"></div>
    <div class="footer-content">
      <app-footer></app-footer>
    </div>
    <div class="empty-container"></div>
  </footer>
</body>
<app-notifier></app-notifier>
