.popup {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  z-index: 999;
  top: 5em;
  right: 2.5em;
  color: white;
  letter-spacing: 1.5px;
  font-family: sans-serif;
  line-height: 1.4em;
}
a {
  cursor: pointer;
  font-size: 2.75em;
  position: absolute;
  right: 0.4em;
  top: 0.4em;
}
.popup:after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.popup:before {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  // box-shadow: 0 1px 14px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: absolute;
  z-index: 998;
}
/*
Different arrow positioning
*/
.popup.arrow-top:before {
  right: calc(10% + 10px);
  top: -8px;
  background: rgb(80, 167, 178);
  background: linear-gradient(to bottom right, #50a7b2, #4d19c3);
}

.popup-wrapper {
  width: 100%;
  padding: 32px;
  border-radius: 1em;
  background: #fff;
  position: relative;
  z-index: 998;
  background: rgb(80, 167, 178);
  background: linear-gradient(to bottom right, #50a7b2, #4d19c3);
}
