/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
:root {
  --font-size-base: clamp(0.7rem, 1.5vw, 1rem);
}
body {
  font-size: var(--font-size-base);
}
