/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}


.pro-container .scroll .tabs button.active {
  background-color: #2a8c90 !important;
}


